.fundo {
    background-color: #c7d6e4;
}

.texto {
    color: #000000;
}

ul li a,
ul li {

  text-decoration: none;
  color: #fff;
  list-style-type: none;
  display: inline-block;
  padding: 5px 13px;
  position: relative;
  transition: 0.5s;
  font: 26px;
  color: black
}

ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  color: #133e6f;
  background-color: #133e6f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul li a:hover:before {
  color: #133e6f;
  text-decoration: underline;
  transition: 0.5s;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

ul li a:hover {
  color: #133e6f;
}

.box{
  background-color: #133e6f;
}

.menuside{
  border-radius: 10px !important;
  background-color: #133e6f !important;
}

.menuside h5{
  color: #fff;

}

.rolagem .card-body{
  background-color: #fff;
  border-radius: 30px !important;
}

.rolagem .card-body img {
  border-radius: 10px;
}

.list-group .list-group-item{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 10px;
}

.list-group-item{
  width: 150px;
}

