
<div class="fundo texto">
  <div class="container-fluid pl-5 pr-5 d-flex justify-content-center pb-5">


  <div class="row">

      <!-- Div do card do Perfil -->
      <div class="col-md-2 m-0">
          <div class=" menuside card mt-5 d-flex justify-content-center align-items-center box" style="width: 100%;">

            <img class=" card-img-top mt-2" src="{{foto}}" class="rounded mt-4"
                  alt="Imagem de perfil do usuário" style="width: 70% ">

                    <h5 class="pt-3 card-title">{{nome}}</h5>
                    
                  <ul class="list-group d-block mx-auto list-group-flush mb-3" style="width: 100%;">

                    <li class="list-group-item d-block mx-auto">
                      <a routerLink='/meu-perfil' ><i class="fa fa-user" aria-hidden="true"></i> Minhas postagens</a>
                    </li>

                    <li class="list-group-item d-block mx-auto">
                      <a [routerLink]="['/usuario-edit', id]"><i class="fa fa-cog" aria-hidden="true"></i> Editar perfil</a>
                    </li>

                </ul>
          </div>
      </div>

      <div class="col-md-8 d-flex justify-content-center flex-wrap">

          <!-- div para publicar e pesquisar -->
          <div class="col-lg-10 profile-col-main pt-5">
              <div class="panel ">
                  <div class="panel-body">

                      <textarea class="form-control mt-3 bd-redonda" rows="3" placeholder="Qual a ideia de hoje?" data-toggle="modal" data-target="#novaPostagem"></textarea>

                      <div class="form-group mt-5">
                        <input type="text"
                        class="form-control bg-white" id="titulo"
                        placeholder="Digite um título de postagem para pesquisar" >
                      </div>

                  </div>
              </div>
          </div>

          <!-- div rolagem infinita -->
          <div *ngFor='let item of listaPostagens | orderBy : key : reverse ' class=" rolagem my-3" style="width: 600px" >

              <div class="card-body">
                <h5 class="card-title"><img src="{{item.usuario.foto}}" width="45px" height="45px" class="circle"> {{item.usuario.nome}}</h5>

                <p class="card-text"><small class="text-muted">{{item.tema.descricao}}</small></p>

                <p class="card-text"><small class="text-muted">{{item.data| date: 'dd/MM/yyyy'}}</small></p>

                <h5 class="card-text">{{item.titulo}}</h5>
                <p class="card-title">{{item.texto}}</p>
                <p class="card-text"><small class="text-muted">{{item.hashtag}}</small></p>

                <ng-container *ngIf="item.foto != 'vazio' ">
                  <img class=" img-fluid d-block mx-auto" src="{{item.foto}}" styles=" border-radius: 30px;" alt="Imagem de capa do card">
                </ng-container>
                <div class="d-flex justify-content-center mt-5">
                  <a *ngIf="authService.adm()" [routerLink]="['/postagem-delete', item.id]" class="btn btn-danger" href="">Apagar</a>
                </div>

              </div>

          </div>
      </div>

      <div class="col-md-2 mt-5 bg-cz">
          <div class="list-group">
            <table class="list-group-item list-group-item-action active bg-amarelo">
              Temas mais populares
            </table>

            <table *ngFor='let item of listaTemas | orderBy : key : reverse' class="list-group-item list-group-item-action">
              {{item.descricao}}
            </table>
          </div>
      </div>

  </div>
</div>
</div>

<!-- Modal para criar uma postagem-->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Fazer Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" [(ngModel)]='postagem.titulo' class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
        <label for="titulo">Texto</label>
        <textarea [(ngModel)]='postagem.texto' class="form-control"  name="texto" id="" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="img">Imagem</label>
        <input type="text" [(ngModel)]='postagem.foto' class="form-control" id="img" placeholder="Insira o link da sua imagem">
      </div>

      <div class="form-group">
        <label for="img">Hashtag</label>
        <input type="text"  class="form-control" id="hashtag" placeholder="Insira hashtags sobre o seu post">
      </div>

      <div class="form-group">
        <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:</label>
        <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
          <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
        </select>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='publicar()' >Publicar</button>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
