

form {
    background-color: #192a56;
    -webkit-box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84); 
    box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84);
    margin: 0;
    padding: 0;
    border-radius: 3rem;
    
}



label{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fbc531;
}