.bgtema{
    background-color: #133e6f;
}

.texto {
    color: #000000;
}

.button {
    background-color: #000000;
    font-size: 20px;
}

.button:hover {
    background-color: #fbc531;
}

.tabela{
    background-color: #000000;
}

.fundo{
    background-color: #DCEBF9;
}