<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">




<div class="container-fluid fundo py-4 rounded">
  <div class="row">

      <div class=" col-md-3 m-0">
        <div class="menuuser card mt-5 pb-2" style="width: 70%;">
          <img class="card-img-top rounded-circle p-3" src="{{foto}}"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title text-center text-light ">{{nome}}</h5>
          </div>
          <p class="card-title text-center text-light" >{{user.usuario}}</p>

          <ul class="list-group list-group-flush">
              <li class="list-group-item mb-3"><a routerLink='/feed'><i class="fa fa-user" aria-hidden="true"></i>
                Feed</a></li>
              <li class="list-group-item mb-3"><a [routerLink]="['/usuario-edit', id]"><i class="fa fa-cog" aria-hidden="true"></i> Editar perfil</a></li>

          </ul>
      </div>
      </div>

      <div class="col-md-1">
      </div>

      <div class="  col-md-6  p d-flex justify-content-center flex-wrap">

        <div class=" container border mt-5">
          <h1 class="d-flex justify-content-center py-3">Minhas postagens</h1>
        </div>

          <div *ngFor='let item of user.postagem | orderBy : key : reverse' class=" menupost d-flex justify-content-center card p-3 mt-5 rounded" style="width: 50rem;">
              <p class="card-text text-center"><small class="text-muted">{{item.tema.descricao}}</small></p>
              <p class="card-text"><small class="text-muted">{{item.data| date: 'dd/MM/yyyy'}}</small></p>
              <p class="card-text text-center"><small class="text-muted">{{item.hashtag}}</small></p>


              <ng-container *ngIf="item.foto != 'vazio' ">
                <img class="img-fluid d-block mx-auto" src="{{item.foto}}"   alt="Imagem de capa do card">
              </ng-container>
            


              <div class="card-body text-center">
                  <h5 class="card-title text-center">{{item.titulo}}</h5>
                  <p class="card-text text-center">{{item.nome}}</p>
                  <p class="card-text text-center"><small class="text-muted">{{item.hashtag}}</small></p>
                  <div class="d-flex justify-content-center">
                  <a [routerLink]="['/postagem-edit', item.id]" class="text-center text-info mr-3 "  href="">Editar</a>
                  <a [routerLink]="['/postagem-delete', item.id]" class="text-danger text-center" href="">Apagar</a>
                </div>
                </div>
          </div>
      </div>

      <div class="col-md-2">

      </div>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>