<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary">Apagar Tema</h1>

        </div>

    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-light">Você tem certeza que deseja apagar este tema? </h4>
            <h6 class="text-center text-light">Todas as postagens relacionadas a ele, serão igualmente apagadas.</h6>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <h5 class="text-center text-primary">Cidade: {{tema.descricao}}</h5>
            <h5 class="text-center text-primary">Bairro: {{tema.assunto}}</h5>
            <h5 class="text-center text-primary">Crime: {{tema.hashtag}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mb-3">
            <button class="btn btn-danger mr-5" routerLink="/tema">Não</button>
            <button class="btn btn-success" (click)="apagar()">Sim</button>

        </div>

    </div>

</div>

