<div class="jumbotron jumbotron-fluid d-flex justify-containg-center">
  <div class="container ">

    <h1 class="cadeado" class="display-5"> Uma rede social para sua segurança <img src="../../assets/img/icone, mão,cadeado.png" alt="iconeMaoCadeado" > </h1>

    <br>
    <p class="display-4" class="lead">● Qual o motivo da escolha do modelo de app Segurança Real? Acreditamos que a segurança é algo fundamental dentro do nosso corpo-social, e que infelizmente muitas pessoas não conseguem ter a sensação de se sentirem seguros em suas cidades, bairros, e até mesmo em suas casas. A partir desse fator, juntos, pensamos em uma tecnologia de facil acesso a todos e que de maneira pratica e eficaz pudesse proporcionar uma sensação maior de segurança para a população no geral.
</p>
  </div>
</div>

