<!-- Começo  da navbar -->
<nav class="navbar navbar-expand-lg navbar-light topo sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
        <img src="../../assets/img/Logo1 (2).png"
        alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item pl-3">
            <a href="#home" class="link">
                <span class="mask">
                <div class="link-container">
            <span class="link-title1 title links m-0 font-weight-bold fs-16 ">Inicio</span>
            <span class="link-title2 title m-0 font-weight-bold fs-16">Inicio</span>
            </div>
            </span>
            </a>
        </li>

        <li class="nav-item pl-3">
          <a href="#Info" class="link">
          <span class="mask">
          <div class="link-container">
      <span class="link-title1 title links m-0 font-weight-bold fs-16 ">Info</span>
      <span class="link-title2 title m-0 font-weight-bold fs-16">Info</span>
      </div>
      </span>
      </a>
      </li>

        <li class="nav-item pl-3">
            <a href="#nos" class="link">
                <span class="mask">
                <div class="link-container">
            <span class="link-title1 title links m-0 font-weight-bold fs-16 ">Sobre</span>
            <span class="link-title2 title m-0 font-weight-bold fs-16">Sobre</span>
            </div>
            </span>
            </a>
        </li>

        <li class="nav-item pl-3">
            <a href="https://zarps.github.io/contatosegurancareal/" target="_blank" class="link">
            <span class="mask">
            <div class="link-container">
        <span class="link-title1 title links m-0 font-weight-bold fs-16 ">Contato</span>
        <span class="link-title2 title m-0 font-weight-bold fs-16">Contato</span>
        </div>
        </span>
        </a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">

            <a routerLink="/login" class="link">
                <span class="mask">
                <div class="link-container">
                    <span class="link-title1 title m-0 font-weight-bold fs-16">Entrar <i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="link-title2 title m-0 font-weight-bold fs-16">Entrar <i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </div>
                </span>
            </a>
        </li>

        <li class="nav-item pl-3">
            <a routerLink="/cadastro" class="link">
                <span class="mask">
                <div class="link-container">
                    <span class="link-title1 title m-0 font-weight-bold fs-16">Cadastre-se</span>
                    <span class="link-title2 title m-0 font-weight-bold fs-16">Cadastre-se</span>
                    </div>
                </span>
            </a>
    </li>
    </ul>
    </div>
</nav>

<!-- Final da navbar -->

<!--Primeiro jubotron começo-->
<div id="home" class="fd-61">
  <div class="container">

    

<div class="row d-flex align-items-center flex-wrap">

    <div class="col-md-6"><h1 class="display-4" >Segurança Real
      <img  src="../../assets/img/icone, mão,cadeado.png" alt="iconeMaoCadeado" ></h1>
      <h2 class="cadeado" class="display-5"> Uma rede social para sua segurança
      </h2>
    </div>

    <div class="row d-flex justify-content-center flex-wrap">
    <div class="col-md-6"> <img class=" mx-auto img-block" src="../../assets/img/Securityazul.png" width="510" height="530" alt="">
    </div>
      </div>
    </div>
  </div>
</div>
<!--Final do primeiro jubotron-->

<!-- Começo do segundo jubotron -->

<div class="jumbotron jumbotron-fluid d-flex justify-containg-center flex-wrap text-light fundo m-0">
    <div class="container d-flex flex-wrap">

    <h3  class="cadeado" class="display-5">● Qual o motivo da criação da nossa rede social <strong>Segurança Real</strong> ?</h3>
    <br>
    <p class="display-4" class="lead">Acreditamos que a segurança é algo fundamental dentro do nosso corpo-social, e que
infelizmente muitas pessoas não conseguem ter a sensação de se sentirem seguros em suas cidades, bairros, e até mesmo em suas casas. A partir desse fator, juntos, pensamos em uma tecnologia de fácil acesso a todos e que de maneira pratica e eficaz pudesse proporcionar uma sensação maior de segurança para a população no geral.
    </p>
</div>
</div>

<!-- Final do segundo jubotron -->

<!--Começo do carrosel-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div id="Info" class="carousel-inner">


  <div class="carousel-item active fd-61">
    <div class="row d-flex justify-content-center flex-wrap" >
      <div class="container-fluid d-flex justify-content-around">
      <div class="col-md-6">
        <img class="d-block w-100" src="../../assets/img/conversinha 1.png" alt="Segundo Slide">
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center flex-wrap">

        <div class="carousel-caption d-md-block h-100">
          <div class="d-flex justify-content-center align-items-center h-100">
            <h2 class="text-dark f-titulo"> A minha segurança e a sua depende de nós</h2><br>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>


    <div class="carousel-item fd-61">
      <div class="container-fluid d-flex justify-content-around flex-wrap">
      <div class="row d-flex justify-content-center" >
        <div class="col-md-6">
          <img class="d-block w-100" src="../../assets/img/conversinha 2.png" alt="Segundo Slide">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-wrap">

          <div class="carousel-caption d-md-block h-75">
            <h1 class="tl-am"> Objetivo e Missão</h1><br>
            <h3 class="text-dark"> Uma rede social, onde o intuito é entregar um aplicativo
              que possa garantir uma maior segurança de seus usuários através da troca de
              informações referentes aos acontecimentos de sua região. </h3>
        </div>
      </div>
      </div>
    </div>
    </div>

    <div class="carousel-item fd-61">
      <div class="container-fluid d-flex justify-content-center flex-wrap">
      <div class="row d-flex justify-content-center" >
        <div class="col-md-6">
          <img class="d-block w-100" src="../../assets/img/conversinha 3.png" alt="Segundo Slide">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-wrap">
          <div class="carousel-caption d-md-block pb-5">
            <h1 class="tl-am"> O que são as <a href="https://odsbrasil.gov.br/" target="_blank" >ODS</a>?</h1><br>
            <h3 class="text-dark">Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para acabar com a
  pobreza, proteger o meio ambiente e o clima e garantir que as pessoas, em todos os lugares, possam desfrutar de paz e
  de prosperidade. Estes são os objetivos para os quais as Nações Unidas estão contribuindo a fim de que possamos atingir
  a Agenda 2030 no Brasil. </h3>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!--Final do carrossel-->

<!--Aqui começa o Sobre nós-->
<div id="nos">
    <div class="m-0 bgtitulo">
        <h2 class="text-center titulo text-white m-0 py-3">Sobre nós</h2>
    </div>
</div>
<div class="container-fluid m-0 pt-5 sobrefundo">
  <div class="row m-0 py-4 ">
        <div class="col-md-6 d-flex justify-content-center flex-wrap" id="logo">
            <img class="rounded-circle" src="../../assets/img/Logo1.png" alt="logo da pagina" width="400" height="400">
        </div>

        <div class="col-md-6 p-4 font-weight-bold">
            <h3>O projeto <strong>Segurança Real</strong> foi desenvolvido durante o bootcamp de 12 semanas da Generation Brasil.<br> Criado para auxiliar com a
              <a href="https://odsbrasil.gov.br/" target="_blank" >ODS 16</a>  (Paz, Justiça e Instituições Eficazes) atraves de uma rede social, temos o objetivo de que os usuários possam enviar e receber informações por meio de postagens para garantir uma rede de informação sobre acontecimentos em suas cidades e bairros, criando uma base de dados para tomadas de decisões afim de melhorar a segurança.</h3>

        </div>
        </div>
      </div>

<!--Aqui termina o sobre nós-->

<!--Aqui começa a apresentação-->

    <div class="container-fluid pb-5 sobrefundo">
    <p class="text-center fonte"><strong py-4 >Desenvolvedores</strong></p>

    <div class="row d-flex justify-content-center align-items-center font-weight-bold">

      <div class = "container dev" style="margin-right: 0px; margin-left: 0px;">
          <div class = "card">
            <div class = "image">
              <img class="rounded" href = "#" src ="https://avatars.githubusercontent.com/u/93398646?v=4">
            </div>
            <div class = "content">
              <h3>Wesley Rios</h3>
              <p class="text-center m-0">26 anos</p>
              <p class="text-center"><strong>Scrum Master, Dev. fullstack</strong></p>
              <p class="text-center">Mauá, São Paulo</p>
              <a href="https://github.com/Zarps" target="_blank" class="icoGithub">
                  <i class="icon fa fa-github-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/wesleyrioos/" target="_blank" class="icoLinkedin">
                  <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>


      <div class = "container dev" style="margin-right: 0px; margin-left: 0px;">
          <div class = "card">
            <div class = "image">
              <img class="rounded" href = "#" src ="https://avatars.githubusercontent.com/u/93771365?v=4">
            </div>
            <div class = "content">
              <h3>Marcelo Ferreira</h3>
              <p class="text-center m-0">20 anos</p>
              <p class="text-center"><strong>Tester, Dev. fullstack</strong></p>
              <p class="text-center">Santo André, São paulo</p>
              <a href="https://github.com/marceloaugustoo" target="_blank" class="icoGithub">
                  <i class="icon fa fa-github-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/marceloaugustoo/" target="_blank" class="icoLinkedin">
                  <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>

      <div class = "container dev" style="margin-right: 0px; margin-left: 0px;">
          <div class = "card">
            <div class = "image">
              <img class="rounded" href = "#" src ="https://avatars.githubusercontent.com/u/62665185?v=4">
            </div>
            <div class = "content">
              <h3>João Victor</h3>
              <p class="text-center m-0">21 anos</p>
              <p class="text-center"><strong>Tech Lead, Dev. fullstack</strong></p>
              <p class="text-center">Guarulhos, São paulo</p>
              <a href="https://github.com/yuxis445" target="_blank" class="icoGithub">
                  <i class="icon fa fa-github-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/joaovictorlopes12/" target="_blank" class="icoLinkedin">
                  <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>

      <div class = "container dev" style="margin-right: 0px; margin-left: 0px;">
          <div class = "card">
            <div class = "image">
              <img class="rounded" href = "#" src ="https://avatars.githubusercontent.com/u/93410296?v=4">
            </div>
            <div class = "content">
              <h3>Gustavo Moreira</h3>
              <p class="text-center m-0">18 anos</p>
              <p class="text-center"><strong>Dev. fullstack java Jr.</strong></p>
              <p class="text-center">São Bernardo do campo, São paulo</p>
              <a href="https://github.com/Gumore" target="_blank" class="icoGithub">
                  <i class="icon fa fa-github-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/gumore/" target="_blank" class="icoLinkedin">
                  <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>

      <div class = "container dev" style="margin-right: 0px; margin-left:0px;">
          <div class = "card">
            <div class = "image">
              <img class="img-fluid rounded" href = "#" src ="../../assets/img/gusreis2.jpg">
            </div>
            <div class = "content">
              <h3>Gustavo Reis</h3>
              <p class="text-center m-0"> 30 anos</p>
              <p class="text-center"><strong>Dev. fullstack java jr.</strong></p>
              <p class="text-center">Itaquera, São Paulo</p>
              <a href="https://github.com/GustavoReis1991" target="_blank" class="icoGithub">
                  <i class="icon fa fa-github-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/gustavo-reis-0537376b/" target="_blank" class="icoLinkedin">
                  <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
    </div>

<!-- <div class="container-fluid pb-5">
<div class="row d-flex align-itens-center justify-content-center mt-5">

    <div class="col-md-8">


<form id="contact">

    <div class="row justify-content-center">
        <div class="col-md-6 ">

            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <h4 class="text-center mb-5 mt-5" style="font-size: 42px;">Entre em contato</h4>
                </div>
            </div>

            <div class="form-group">
                <label class="text-light" for="nome"><strong>Nome</strong></label>
                <input class="form-control mb-2" type="text" name="nome" id="nome" placeholder="Seu nome*">
            </div>

    <div class="form-group">
    <label class="text-light"  for="exampleFormControlInput1"><strong>Endereço de email</strong></label>
    <input type="email" class="form-control mb-2" id="email" placeholder="nome@exemplo.com" onkeyup="validarEmail()">
    <div id="txtEmail"></div>
    </div>

    <div class="form-group">
    <label class="text-light"  for="exampleFormControlTextarea1"><strong>Assunto</strong></label>
    <textarea class="form-control" id="assunto" placeholder="Digite sua mensagem" rows="3" onkeyup="validarAssunto()"></textarea>
    <div id="txtAssunto"></div>
    </div>
    <div class="form-group d-flex justify-content-end pb-5">
        <button class="btn btn-outline-warning text-light" onclick="enviar()"><strong>Enviar</strong></button>
    </div>
    </div>
    </div>

</form>
</div>
</div>
</div>
-->


