@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%27');

.f-titulo{
  font-family: 'Open Sans', sans-serif;
  font-size: 500%
}

.titulo-C{
  font: size 600px;
}

.d-block{
  width: 100%;
  height: 100%;
}

.fd-60{
  background-color: #f4f5b1;
}

.fd-61{
  background-color: #DCEBF9;
}

.tl-am{
  color: #133e6f;
}

.fundo {
  background-color: #133e6f;
}

html {
    scroll-behavior: smooth;
}

.texto{
    color: #000000;
}

strong{
    color: #e6b327;
}

.ods{
    font-size: 18px;
}

.topo{
    background-color: #133e6f;
    -webkit-box-shadow: 0px 5px 14px 0px #000000;
    box-shadow: 0px 5px 14px 0px #000000;
}

form {
    background-color: #192a56;
    -webkit-box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84);
    box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84);
    margin: 0;
    padding: 0;
    border-radius: 3rem;

}

label{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fbc531;
}

.fonte{
    font-size: 30px;
    text-align: justify;

}
.titulo{
    font-size: 3rem;
    font-weight: bold;
}
.bgtitulo{
    background-color: #133e6f;
}

.tamimg{
    height: 150pt;
    width: 150pt;
}

.icon{
    font-size: 30pt;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.fa-github-square:hover {
    color: rgb(0, 0, 0);
}
    .bgdev{
    background-color: #1f5ca1;
}
.fa-linkedin-square:hover{
    color: #0A66C2;
}

.sobrefundo{
    background-color: #EEF5FC;
}

.fotofundo {
-webkit-box-shadow: -3px -2px 5px 6px rgba(19,62,111,0.88);
box-shadow: -3px -2px 5px 6px rgba(19,62,111,0.88);
}

.fs-16 {
    font-size: 16pt;
    text-decoration: none;
    color: #ffffff;
}

.fs-16:hover{
    text-decoration: underline;
    color: #fbc531;

}

body {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.link {
    height: 30px;
    align-items: center;
    color: #000;
    text-decoration: none;
    display: flex;
}

/* Hide extra text */
.mask {
    position: relative;
    padding: 0;
    height: 20px;

  /*  Remove overflow to see how it works　:) */
    overflow: hidden;
}

.link-container {
    transition: transform 0.4s ease;
}

.title {
    display: block;

  /*  Set same font-size and line height  */
    font-size: 20px;
    line-height: 20px;

    transition: transform 0.4s ease;
}

.link-title1 {
    transform-origin: right center;
}

.link-title2 {
    transform-origin: left center;
    transform: rotate(20deg);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
transform: rotate(20deg);
}

.link:hover .link-title2 {
transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
transform: translate(0px);
}

/* Efeitos de card  */

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


body {
  font-family: "Lato";
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #EEF5FC;
  display: flex;
}

.card {
  width: 200px;
  height: 350px;
  background: url(../../assets/img/Wesley.jpeg) no-repeat center/cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card2{
  width: 200px;
  height: 350px;
  background: url(../../assets/img/eu_mais_recente2.jpg) no-repeat center/cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card3{
  width: 200px;
  height: 350px;
  background: url(../../assets/img/joao.jpeg) no-repeat center/cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card4{
  width: 200px;
  height: 350px;
  background: url(../../assets/img/foto_rino.png) no-repeat center/cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card5{
  width: 200px;
  height: 350px;
  background: url(../../assets/img/gusreis.jpg) no-repeat center/cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* card 1 */

.card:hover .fon {
  opacity: 0;
}
.card:hover .text {
  height: 10%;
  padding: 10px 0 0;
}
.card:hover .text h2 {
  margin-bottom: 0;
}
.card:hover .text p {
  opacity: 0;
}
.card:hover .btn {
  transform: scale(1);
}

/* card 2 */

.card2:hover .fon {
  opacity: 0;
}
.card2:hover .text {
  height: 10%;
  padding: 10px 0 0;
}
.card2:hover .text h2 {
  margin-bottom: 0;
}
.card2:hover .text p {
  opacity: 0;
}
.card2:hover .btn {
  transform: scale(1);
}

/* card 3 */

.card3:hover .fon {
  opacity: 0;
}
.card3:hover .text {
  height: 10%;
  padding: 10px 0 0;
}
.card3:hover .text h2 {
  margin-bottom: 0;
}
.card3:hover .text p {
  opacity: 0;
}
.card3:hover .btn {
  transform: scale(1);
}

/* card 4 */

.card4:hover .fon {
  opacity: 0;
}
.card4:hover .text {
  height: 10%;
  padding: 10px 0 0;
}
.card4:hover .text h2 {
  margin-bottom: 0;
}
.card4:hover .text p {
  opacity: 0;
}
.card4:hover .btn {
  transform: scale(1);
}

.card5:hover .fon {
  opacity: 0;
}
.card5:hover .text {
  height: 10%;
  padding: 10px 0 0;
}
.card5:hover .text h2 {
  margin-bottom: 0;
}
.card5:hover .text p {
  opacity: 0;
}
.card5:hover .btn {
  transform: scale(1);
}

.fon {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 2;
  transition: opacity 0.25s;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  height: 60%;
  width: 100%;
  text-align: center;
  padding: 30px 0 0;
  z-index: 4;
  transition: height 0.25s, padding 0.25s;
}
.text h2 {
  text-transform: capitalize;
  color: #133e6f;
  letter-spacing: 1px;
  margin-bottom: 15px;
  transition: margin-bottom 0.25s;
  font-size: 20px;
}
.text p {
  line-height: 20px;
  margin: 0 10px;
  color: rgb(0, 0, 0);
  z-index: 5;
  transition: opacity 0.25s;
}
.text .triangle {
  width: 100%;
  height: 50px;
  background: whitesmoke;
  z-index: 9;
  transform: matrix(1.01, -0.3, 0, 2, -1, 10);
  z-index: 3;
}

*{
  box-sizing: border-box;
}

.btn {
  position: absolute;
  top: calc(93% - 20px);
  left: calc(25% - 40px);
  margin: auto;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 4;
  transform: scale(0);
  cursor: pointer;
}