@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.fundo {
  background-color: #133e6f;
}

html {
    scroll-behavior: smooth;
}

.texto{
    color: #000000;
}

strong{
    color: #fbc531;
}

.yout{
    font-size: 35pt;
    color: #c4302b;
    padding: 10px;
  }

.yout:hover{
    color: #a1241f ;
}

.ods{
    font-size: 18px;
}

.topo{
    background-color: #133e6f;
    -webkit-box-shadow: 0px 5px 14px 0px #000000;
    box-shadow: 0px 5px 14px 0px #000000;
}

form {
    background-color: #192a56;
    -webkit-box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84);
    box-shadow: 5px 4px 8px 3px rgba(19,62,111,0.84);
    margin: 0;
    padding: 0;
    border-radius: 3rem;

}

label{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fbc531;
}

.fonte{
    font-size: 30px;
    text-align: justify;

}
.titulo{
    font-size: 3rem;
    font-weight: bold;
}
.bgtitulo{
    background-color: #133e6f;
}

.tamimg{
    height: 150pt;
    width: 150pt;
}

.icon{
    font-size: 30pt;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.fa-github-square:hover {
    color: rgb(80, 80, 80);
}
    .bgdev{
    background-color: #1f5ca1;
}
.fa-linkedin-square:hover{
    color: #0A66C2;
}

.sobrefundo{
    background-color: whitesmoke;
}

.fotofundo {
-webkit-box-shadow: -3px -2px 5px 6px rgba(19,62,111,0.88);
box-shadow: -3px -2px 5px 6px rgba(19,62,111,0.88);
}

.fs-16 {
    font-size: 16pt;
    text-decoration: none;
    color: #ffffff;
}

.fs-16:hover{
    text-decoration: underline;
    color: #fbc531;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.link {
    height: 30px;
    align-items: center;
    color: #000;
    text-decoration: none;
    display: flex;
}

/* Hide extra text */
.mask {
    position: relative;
    padding: 0;
    height: 20px;

  /*  Remove overflow to see how it worksã€€:) */
    overflow: hidden;
}

.link-container {
    transition: transform 0.4s ease;
}

.title {
    display: block;

  /*  Set same font-size and line height  */
    font-size: 20px;
    line-height: 20px;

    transition: transform 0.4s ease;
}

.link-title1 {
    transform-origin: right center;
}

.link-title2 {
    transform-origin: left center;
    transform: rotate(20deg);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
transform: rotate(20deg);
}

.link:hover .link-title2 {
transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
transform: translate(0px);
}

.dev {
    position : relative;
    width : 260px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap: warp;
    padding : 0px;  
  }
  
  .dev .card {
    position: relative;
    max-width : 300px;
    height : 180px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .dev  .card:hover {
    height : 390px;    
  }
  
  
  .dev  .card .image {
    position : relative;
    width : 200px;
    height : 200px;
    
    top : -30%;
    left: 0px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .dev  .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }

  .dev .card h3{
    font-size: 20px;
  }
  
  .dev .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .dev .card:hover .content {
     margin-top : 70px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }