
<nav class="navbar navbar-expand-lg navbar-light topo sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
        <img src="https://avatars.githubusercontent.com/u/95497663?v=4"
        alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item pl-3">
        <a class="links m-0 font-weight-bold fs-16" href="#home"> Inicio </a>
        </li>

        <li class="nav-item pl-3">
        <a class="links m-0 font-weight-bold fs-16 " href="#nos">Sobre nós</a>
        </li>

        <li class="nav-item pl-3">
        <a class="links m-0 font-weight-bold fs-16 " href="#contact">Contato</a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a routerLink="/login" class="m-0 font-weight-bold fs-16">Entrar <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item pl-3">
          <a routerLink="/cadastro" class="m-0 font-weight-bold fs-16">Cadastre-se
          </a>
      </li>
  
    </ul>
  
    </div>
  </nav>
  


<body class="sobrefundo">
  
<div id="home" class="jumbotron jumbotron-fluid d-flex justify-containg-center">
  <div class="container ">

    <h1 class="cadeado" class="display-5"> Uma rede social para sua segurança <img src="../../assets/img/icone, mão,cadeado.png" alt="iconeMaoCadeado" > </h1>

    <br>
    <p class="display-4" class="lead">● Qual o motivo da escolha do modelo de app Segurança Real? Acreditamos que a segurança é algo fundamental dentro do nosso corpo-social, e que infelizmente muitas pessoas não conseguem ter a sensação de se sentirem seguros em suas cidades, bairros, e até mesmo em suas casas. A partir desse fator, juntos, pensamos em uma tecnologia de facil acesso a todos e que de maneira pratica e eficaz pudesse proporcionar uma sensação maior de segurança para a população no geral.
</p>
  </div>
</div>

<h1></h1>
<div id="nos" class="sobrefundo">
    <div class="mb-5 bgtitulo"> 
        <h1 class="text-center titulo text-white">SOBRE NÓS</h1>
    </div>
<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col-md-6 " id="logo">
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/95497663?v=4" alt="logo da pagina">
        </div>
        <div class="col-md-6">
            <p class="fonte">Time do projeto Segurança Real, uma rede social baseada em um projeta do grupo Generation baseada na ODS 16 (Paz, Justiça e Instituições fortes) e atraves dessa rede social temos o objetivo de que as pessoas se sintam à vontade para falarem e discutirem sobre segurança pública e justiça, obtendo assim maiores informações e criando uma base de dados para tomadas de decisões afim de melhorar a segurança.</p>
    
        </div>
    
    </div>
    
    <hr>
    
    <p class="text-center fonte"><strong>Desenvolvedores</strong></p>
    
    <div class="row d-flex justify-content-around">
        <div>
            <img src="https://avatars.githubusercontent.com/u/93398646?v=4" alt="Wesley" class="tamimg  rounded-circle fotofundo">
            <p class="text-center"><strong>Wesley Rios</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Zarps" target="_blank" class="icoGithub">
                    <i class="icon fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/wesleyrioos/" target="_blank" class="icoLinkedin">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/93771365?v=4" alt="Marcelo" class="tamimg  rounded-circle fotofundo">
            <p class="text-center"><strong>Marcelo Ferreira</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/marceloaugustoo" target="_blank" class="icoGithub">
                    <i class="icon fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/marceloaugustoo/" target="_blank" class="icoLinkedin">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/62665185?v=4" alt="João Victor" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>João Victor</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/yuxis445" target="_blank" class="icoGithub">
                    <i class="icon fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/joaovictorlopes12/" target="_blank" class="icoLinkedin">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/93410296?v=4" alt="Gustavo Moreira" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>Gustavo Moreira</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Gumore" target="_blank" class="icoGithub">
                    <i class="icon fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/gumore/" target="_blank" class="icoLinkedin">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/WIN_20220110_16_25_15_Pro.jpg" alt="Gustavo Reis" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>Gustavo Reis</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/GustavoReis1991" target="_blank" class="icoGithub">
                    <i class="icon fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        
        </div>
        
    </div>
    
    
</div>
</div>

<div class="container-fluid mb-5">

  <div class="row d-flex align-itens-center justify-content-center mt-5">
      <div class="col-md-8">
          
  
  <form id="contact">
      
      <div class="row justify-content-center">
          <div class="col-md-6 ">
  
              <div class="row">
                  <div class="col-md-12 justify-content-center">
                      <h4 class="text-center mb-5 mt-5" style="font-size: 42px;">Entre em contato</h4>
                  </div>
              </div>
  
              <div class="form-group">
                  <label class="text-light" for="nome"><strong>Nome</strong></label>
                  <input class="form-control mb-2" type="text" name="nome" id="nome" placeholder="Seu nome*">
          
              </div>
  
      <div class="form-group">
      <label class="text-light"  for="exampleFormControlInput1"><strong>Endereço de email</strong></label>
      <input type="email" class="form-control mb-2" id="email" placeholder="nome@exemplo.com" onkeyup="validarEmail()">
      <div id="txtEmail"></div>
      </div>
      
      <div class="form-group">
      <label class="text-light"  for="exampleFormControlTextarea1"><strong>Assunto</strong></label>
      <textarea class="form-control" id="assunto" placeholder="Digite sua mensagem" rows="3" onkeyup="validarAssunto()"></textarea>
      <div id="txtAssunto"></div>
      </div>
      <div class="form-group d-flex justify-content-end mb-5">
          <button class="btn btn-outline-warning text-light" onclick="enviar()"><strong>Enviar</strong></button>
      </div>
      </div>
      </div>
  
  </form>
  </div>
  </div>
  </div>
  

</body>

