#img-bg {
  background-image: url(../../assets/img/CarinhaAndando.png);
  min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:150%
}

.fundo2{
  background-color: #133e6f;
}

.fundo2:hover{
background-color: #5d86ac;
}

.formulario {
  width: 420px;
  height: 592px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0;
  position: relative;
}

.shadow {
  box-shadow: 0 .5rem 1rem #00000026!important;
}

.border {
  border: 1px solid #dee2e6!important;
}

.textf {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
  }

.fundo {
  background-color: #DCEBF9;
}
