
<footer class="page-footer font-small bgrodape pt-4 ">
<div class="container ">
    <div class="row">
        <div class="col-md-12 d flex justify-content-center">
            <h4 class="text-white text-center">Repositório do nosso projeto</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">

                <li>
                    <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-4 d-flex-column justify-content-center">
            <h5 class="d-flex justify-content-center text-white pb-2"><Strong>Segurança Real</Strong></h5>
            <h6 class=" text-center text-white pb-3">A primeira rede social dedicada a segurança e informações para o usuário.</h6>

        </div>

        <div class="col-md-4 d-flex-column justify-content-center">
            <h5 class="text-white text-center pb-2">Links úteis</h5>
            <a class="d-flex justify-content-center text-white pb-2" href="https://brazil.generation.org/">Generation Brasil</a>
            <a class="d-flex justify-content-center text-white pb-2" href="https://odsbrasil.gov.br/">Ods Brasil</a>
            <a class="d-flex justify-content-center text-white pb-4" href="https://www.youtube.com/watch?v=RkRpbUt1fCM">IBGE explica ods-16</a>
        </div>

        <div class="col-md-4 d-flex-column justify-content-center">
            <h5 class=" text-center text-white pt-2 pb-2">São Paulo, Brasil</h5>
            <h6 class="text-center text-white pb-2">Contato</h6>
            <h6 class="text-center text-white pb-5"> segurancareal38@gmail.com </h6>
        </div>

    </div>
</div>


<div class="footer-copyright bgcopy text-center py-3">
    <span class="text-light"> © 2022 Copyright: Segurança Real </span>

</div>

</footer>
