ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: white;
  padding: 10px;
}

.fa-github-square:hover {
  color: #000;
}

.bgrodape{
  background-color: #133e6f;
}

.bgcopy{
  background-color: #4a69bd;
}

strong{
  color: #fbc531;
}