<div class="container-fluid">
    <div class="mb-5 bgtitulo">
        <h1 class="text-center titulo text-white">SOBRE NÓS</h1>
        
    </div>
    <div class="row container-fluid">
        <div class="col-md-6 " id="logo">
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/95497663?v=4" alt="logo da pagina">
        </div>
        <div class="col-md-6">
            <p class="fonte">Time do projeto Segurança Real, uma rede social baseada em um projeta do grupo Generation baseada na ODS 16 (Paz, Justiça e Instituições fortes) e atraves dessa rede social temos o objetivo de que as pessoas se sintam à vontade para falarem e discutirem sobre segurança pública e justiça, obtendo assim maiores informações e criando uma base de dados para tomadas de decisões afim de melhorar a segurança.</p>
    
        </div>
    
    </div>
    
    <hr>
    <p class="text-center fonte">Desenvolvedores</p>
    
    <div class="row d-flex justify-content-around">
        <div>
            <img src="../../assets/img/Wesley" alt="Wesley" class="tamimg mb-2">
            <p class="text-center">Wesley Rios</p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/Marcelo" alt="Marcelo" class="tamimg mb-2">
            <p class="text-center">Marcelo Ferreira</p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/joao.jpeg" alt="João Victor" class="tamimg">
            <p class="text-center">João Victor</p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/GustavoMoreira" alt="Gustavo Moreira" class="tamimg">
            <p class="text-center">Gustavo Moreira</p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/WIN_20220110_16_25_15_Pro.jpg" alt="Gustavo Reis" class="tamimg">
            <p class="text-center">Gustavo Reis</p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Segurancareal" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
           
        </div>
        
    </div>
    
</div>
