<div class="sobrefundo">
<div class="container-fluid">
    
    <div class="mb-5 bgtitulo">
        <h1 class="text-center titulo text-white"><strong>SOBRE NÓS</strong></h1>
        
    </div>
    <div class="row container-fluid">
        <div class="col-md-6 " id="logo">
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/95497663?v=4" alt="logo da pagina">
        </div>
        <div class="col-md-6">
            <p class="fonte">Time do projeto Segurança Real, uma rede social baseada em um projeta do grupo Generation baseada na ODS 16 (Paz, Justiça e Instituições fortes) e atraves dessa rede social temos o objetivo de que as pessoas se sintam à vontade para falarem e discutirem sobre segurança pública e justiça, obtendo assim maiores informações e criando uma base de dados para tomadas de decisões afim de melhorar a segurança.</p>
    
        </div>
    
    </div>
    
    <hr>
    
    <p class="text-center fonte"><strong>Desenvolvedores</strong></p>
    
    <div class="row d-flex justify-content-around">
        <div>
            <img src="https://avatars.githubusercontent.com/u/93398646?v=4" alt="Wesley" class="tamimg  rounded-circle fotofundo">
            <p class="text-center"><strong>Wesley Rios</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Zarps" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/wesleyrioos/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/93771365?v=4" alt="Marcelo" class="tamimg  rounded-circle fotofundo">
            <p class="text-center"><strong>Marcelo Ferreira</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/marceloaugustoo" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/marceloaugustoo/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/62665185?v=4" alt="João Victor" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>João Victor</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/yuxis445" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/joaovictorlopes12/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/93410296?v=4" alt="Gustavo Moreira" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>Gustavo Moreira</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/Gumore" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/gumore/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <img src="../../assets/img/WIN_20220110_16_25_15_Pro.jpg" alt="Gustavo Reis" class="tamimg rounded-circle fotofundo">
            <p class="text-center"><strong>Gustavo Reis</strong></p>
            <div class="d-flex justify-content-around">
                <a href="https://github.com/GustavoReis1991" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        
        </div>
        
    </div>
    
    
</div>
</div>
