/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}