<nav class="navbar navbar-expand-lg navbar-light topo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
                <img src="{{foto}}" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white p-16">Olá, {{nome}}</p>
      </li>
  
      </ul>
  
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a (click)="deslogar()" class="m-0 font-weight-bold fs-16" routerLink="/inicio">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </li>
  
    
    </ul>
  
    </div>
  </nav>
  
