<nav class="navbar navbar-expand-lg navbar-light topo sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
                <img src="../../assets/img/Logo1 (2).png" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <a routerLink="/feed" class="link">
          <span class="mask">
            <div class="link-container">
        <span class="link-title1 title links m-0 font-weight-bold fs-16 p-16">Segurança Real</span>
        <span class="link-title2 title m-0 font-weight-bold fs-16 p-16">Segurança Real</span>
        </div>
        </span>
          </a>
      </li>

      <li class="nav-item pl-3 d-flex justify-content-center">
            <span class="mask">
            <div class="link-container">
        <span class="link-title1 title links m-0 font-weight-bold fs-16 ">    </span>
        <span class="link-title2 title m-0 font-weight-bold fs-16">    </span>
        </div>
        </span>
    </li>

      <li class="nav-item pl-3 d-flex justify-content-center">
        <a routerLink="/feedmulher" class="link">
            <span class="mask">
            <div class="link-container">
        <span class="link-title1 title links m-0 font-weight-bold fs-16 ">Mulheres</span>
        <span class="link-title2 title m-0 font-weight-bold fs-16">Mulheres</span>
        </div>
        </span>
        </a>
    </li>
  
      </ul>

      
  
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a (click)="deslogar()" routerLink="/inicio" class="link">
              <span class="mask">
              <div class="link-container">
                  <span class="link-title1 title m-0 font-weight-bold fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></span>
                  <span class="link-title2 title m-0 font-weight-bold fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></span>
              </div>
              </span>
          </a>

        </li>
  
    
    </ul>
  
    </div>
  </nav>
  
